body{
    font-family: 'Roboto', sans-serif;
    background-color: wheat;
}
/* INICIO */

.inicio {   
    display: flex;
    justify-content: center;
}


#agregar,#limpiar {
    background-color:#d8ecf7;
    font-weight: bold;
    margin:0 0 25px;
    overflow:hidden;
    padding:20px;
    -webkit-border-radius: 10px;
    border-radius: 5px;
}
#generar {
    margin: auto;
}
#turnosGenerados {
    display: flex;
}
.turnos{
    display: flex;
    margin: auto;
    flex-wrap: wrap;
    gap: 10px;
    padding: 13px 22px;



}
.turnoSingular {
    
    
    flex-wrap: wrap;
    gap: 10px;
    padding: 13px 22px;
    border: 2px solid black;
    box-shadow: 0px 3px 4px #707070;
    border-radius: 5px; 
    background-color: #6c757d;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    margin-top: 1vh;
    margin-bottom: 5vh;
    border: 2px solid black;
    background-color: rgb(255, 255, 255);
}

/* FIN INICIo */


/* GENERADOR TURNOS */    
.contenedor {
    background-color: #d8ecf7;
    display: grid;
    align-items: center;
    border: 1.5px solid black;    
    border-radius: 5px;
    grid-template-columns: repeat(2,1fr);
    gap: 50px;
    margin: auto;
    width: 75%;
}    


/* FIN GENERADOR TURNOS */



.TituloTurno {
    display: flex;
    justify-content: center;
    margin: auto;
}